html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: "CaslonBookBE-Regular";
}

* {
    /*Apply the 'nice font rendering' cheat globally*/
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#wrapper {
    /*    overflow-y: scroll;
    overflow-x: hidden;*/
    position: relative;
    margin: 0 auto;
}

.chapter-heading {
    text-align: center;
    margin-top: 129px;
    font-size: 60px;
    font-family: "CaslonBookBE-RegularSC";
}

#author {
    margin-top: 425px;
    text-align: center;
    font-size: 18px;
}

.section-heading {
    margin-top: 148px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.one-heading {
    margin-top: 111px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.page {
    position: relative;
    height: 767px;
    width: 526px;
    border: 1px solid black;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.text-box {
    white-space: pre-line;
    word-break: break-word;
    width: 371px;
    /* position: relative; */
    margin: 0 auto;
    margin-top: 122px;
    text-align: justify;
    font-size: 11.5px;
    line-height: 16px;
    letter-spacing: 0.3px;
    word-spacing: 0.7px;
}

.text-box.first-chapter {
    margin-top: 36px;
}

#p4 > .text-box {
    letter-spacing: 0.1px;
    word-spacing: 0.7px;
}

#p5 > .text-box {
    letter-spacing: 0.1px;
    word-spacing: 0.6px;
}

#p8 > .text-box {
    letter-spacing: 0.2px;
}

.align-last-line{
    text-align-last: justify;
        word-spacing: 2.2px;
}

p.broken {
    margin: 0;
    text-align: justify;
    text-align-last: justify;
        word-spacing: 0.6px;
    letter-spacing: 0.1px;
}

p.broken.tweaked {
    letter-spacing: 0px;
}

.book-title {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1px;
    word-spacing: 0.3px;
    left: 76px;
    margin-top: 62px;
    position: absolute;
}

.page-number {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1px;
    word-spacing: 0.3px;
    right: 76px;
    margin-top: 62px;
    position: absolute;
}

span.italic {
    font-style: italic;
}

.smaller-section {
    width: 317px;
    display: block;
    text-align: left;
    letter-spacing: 0.1px;
}

/*================================================
=============== IMAGES ===========================
================================================*/

img.popups{
    display: none;
}

.popups{
    position: absolute;
}

/*------------------------------------------------*/
/*------------ Page 3 ----------------------------*/
/*------------------------------------------------*/
#p3-beauty {
    width: 30%;
    margin-top: 320px;
    margin-left: 30px;
}

/*------------------------------------------------*/
/*------------ Page 4 ----------------------------*/
/*------------------------------------------------*/
#p4-my-5{
width: 18%;
    margin-top: 330px;
    margin-left: 200px;
}
#p4-new-series {
    width: 30%;
    margin-top: 356px;
    margin-left: 200px;
}

/*------------------------------------------------*/
/*------------ Page 5 ----------------------------*/
/*------------------------------------------------*/

#p5-location {
    width: 39%;
    margin-top: 230px;
    margin-left: 130px;
}
#p5-flights {
    width: 85%;
    margin-left: 180px;
    margin-top: 413px;
}

/*------------------------------------------------*/
/*------------ Page 6 ----------------------------*/
/*------------------------------------------------*/

#p6-amazon {
    width: 50%;
    margin-left: 164px;
    margin-top: 80px;
}
#p6-bikini {
    width: 75%;
    margin-top: 186px;
    margin-left: 149px;
}
#p6-match {
    width: 35%;
    margin-top: 440px;
}

/*------------------------------------------------*/
/*------------ Page 7 ----------------------------*/
/*------------------------------------------------*/
#p7-customers {
    width: 70%;
    margin-left: -60px;
    margin-top: 30px;
}
#p7-microphone {
    width: 43%;
    margin-top: 220px;
    margin-left: 150px;
}
#p7-reviews {
    width: 35%;
    margin-left: 370px;
}

/*------------------------------------------------*/
/*------------ Page 8 ----------------------------*/
/*------------------------------------------------*/

#p8-history {
    width: 43%;
    margin-top: 230px;
    margin-left: 150px;
}
#p8-moleskins {
    width: 50%;
    margin-top: 310px;
    margin-left: 320px;
}


/*------------------------------------------------*/
/*------------ Page 9 ----------------------------*/
/*------------------------------------------------*/
#p9-moleskins {
    width: 50%;
    margin-top: 310px;
    margin-left: 70px;
}
#p9-1984 {
    width: 47%;
    margin-top: 168px;
    margin-left: 140px;
}
#p9-webcam {
    width: 43%;
    margin-top: 430px;
    margin-left: 149px;
}
/*------------------------------------------------*/
/*------------ Page 10 ----------------------------*/
/*------------------------------------------------*/

#p10-contacts {
    width: 43%;
    margin-top: 270px;
    margin-left: 149px;
}
#p10-reviews {
    width: 50%;
    margin-top: 20px;
}
#p10-match {
    width: 32%;
    margin-left: 180px;
    margin-top: 581px;
}
#p10-titles {
    width: 60%;
    margin-top: 597px;
}
/*------------------------------------------------*/
/*------------ Page 11 ----------------------------*/
/*------------------------------------------------*/

#p11-moleskins {
    width: 55%;
    margin-top: 250px;
    margin-left: 280px;
}

#p11-buy {
    width: 20%;
    margin-top: 460px;
    margin-left: 50px;
}

#p11-photos {
    width: 35%;
    margin-top: 474px;
    margin-left: 160px;
}

#p11-properties {
    width: 30%;
    margin-left: 340px;
}

#p11-winston {
    width: 50%;
    margin-left: 130px;
    margin-top: 150px;
}

#p11-won-1 {
    width: 20%;
    margin-top: 570px;
    margin-left: 90px;
}
#p11-won-2 {
    width: 20%;
    margin-top: 570px;
    margin-left: 150px;
}
#p11-won-3 {
    width: 20%;
    margin-top: 570px;
    margin-left: 210px;
}
#p11-won-4 {
    width: 20%;
    margin-top: 570px;
    margin-left: 270px;
}
#p11-won-5 {
    width: 20%;
    margin-top: 570px;
    margin-left: 330px;
}
#p11-won-6 {
    width: 20%;
    margin-top: 570px;
margin-left: 390px;
}

/*------------------------------------------------*/
/*------------ Page 12 ----------------------------*/
/*------------------------------------------------*/

#p12-location {
    width: 40%;
    margin-top: 450px;
    margin-left: 290px;
}

#p12-match {
    width: 45%;
    margin-top: 140px;
    margin-left: 180px;
}

#p12-exclamation-1 {
    width: 20%;
    margin-left: 330px;
    margin-top: 100px;
}
#p12-exclamation-2 {
width: 20%;
    margin-left: 140px;
    margin-top: 570px;
}
#p12-spyware-1 {
    width: 20%;
    margin-top: 420px;
    margin-left: 240px;
}

#p12-spyware-2 {
    width: 20%;
    margin-top: 380px;
    margin-left: 200px;
}

#p12-system {
    width: 20%;
    margin-top: 280px;
    margin-left: 100px;
}

/*------------------------------------------------*/
/*------------ Page 13 ----------------------------*/
/*------------------------------------------------*/
#p13-exclamation {
    width: 20%;
    margin-left: 30px;
    margin-top: 530px;
}

#p13-genres {
    width: 25%;
    margin-top: 300px;
    margin-left: 280px;
}

#p13-system {
    width: 20%;
    margin-top: 170px;
    margin-left: 170px;
}

#p13-iq {
    width: 30%;
    margin-top: 296px;
    margin-left: 130px;
}

#p13-my-5 {
    width: 20%;
    margin-top: 555px;
    margin-left: 320px;
}

/*------------------------------------------------*/
/*------------ Page 14 ----------------------------*/
/*------------------------------------------------*/

#p14-small {
    width: 30%;
    margin-top: 200px;
    margin-left: 360px;
}

#p14-decorations {
    width: 40%;
    margin-left: 220px;
    margin-top: 470px;
}

#p14-series {
    width: 30%;
    margin-top: 540px;
    margin-left: 50px;
}

#p14-customer {
    width: 30%;
    margin-left: 240px;
}

#p14-balloons {
    width: 100%;
    margin-left: 32px;
    margin-top: 130px;
}

#p14-buy-now {
    width: 16%;
    margin-top: 320px;
    margin-left: 120px;
}

#p14-spyware {
    width: 20%;
    margin-top: 660px;
    margin-left: 220px;
}

/*------------------------------------------------*/
/*------------ Page 15 ----------------------------*/
/*------------------------------------------------*/

#p15-system-1 {
    width: 20%;
}
#p15-system-2 {
    width: 20%;
    margin-left: 80px;
}
#p15-exclamation {
    width: 20%;
    margin-top: 310px;
    margin-left: 350px;
}
#p15-won {
    width: 20%;
    margin-top: 480px;
    margin-left: 400px;
}
#p15-free {
    width: 35%;
    margin-top: 300px;
    margin-left: 180px;
}
#p15-gold {
    width: 20%;
    margin-left: 340px;
    margin-top: 230px;
}
#p15-hair {
    width: 30%;
    margin-top: 550px;
    margin-left: 170px;
}
#p15-oralcare {
    width: 40%;
    margin-top: 580px;
    margin-left: 310px;
}
#p15-postgold {
    width: 30%;
    margin-left: 300px;
    margin-top: 120px;
}
#p15-price {
    width: 35%;
    margin-top: 296px;
    margin-left: 30px;
}
#p15-properties {
    width: 30%;
    margin-left: 260px;
    margin-top: 360px;
}
#p15-related {
    width: 50%;
    margin-top: 490px;
    margin-left: 40px;
}
#p15-safe {
    width: 30%;
    margin-top: 303px;
    margin-left: 330px;
}
#p15-shop {
    width: 30%;
    margin-top: 200px;
    margin-left: 50px;
}
