html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*    overflow: hidden;
*/
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: white;
}

* {
    /*    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
}

#wrapper {
    /*    overflow-y: scroll;
    overflow-x: hidden;*/
    position: relative;
    margin: 0 auto;
}

.chapter-heading {
    text-align: center;
    margin-top: 129px;
    font-size: 60px;
}

#author {
    margin-top: 425px;
    text-align: center;
    font-size: 18px;
}

.section-heading {
    margin-top: 148px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.one-heading {
    margin-top: 111px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.page {
    position: relative;
    height: 767px;
    width: 526px;
    border: 1px solid black;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.text-box {
    white-space: pre-line;
    word-break: break-word;
    width: 342px;
    position: relative;
    margin: 0 auto;
    margin-top: 122px;
    text-align: justify;
    font-size: 11.5px;
    line-height: 16px;
    letter-spacing: 0.2px;
    word-spacing: 0.3px;
}

.text-box.first-chapter {
    margin-top: 36px;
}

.book-title {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1px;
    word-spacing: 0.3px;
    left: 90px;
    top: 675px;
    position: absolute;
}

.page-number {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1px;
    word-spacing: 0.3px;
    right: 90px;
    top: 675px;
    position: absolute;
}

img{
    width: 70%;
    position: absolute;
}


/*.random-div {
    position: absolute;
    width: 100%;
}

.random {
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}*/